/* El navbar ocupa todo el ancho de la pantalla y está fijo en la parte superior */
.bg-cyan-500 {
  background-color: #00bcd4;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.w-full {
  width: 100%;
}

.mt-16 {
  margin-top: 4rem;
}
