<div class="bg-cyan-500 text-white p-4 flex justify-between items-center w-full fixed top-0 left-0">
  <div class="text-lg font-bold">
    Dashboard
  </div>
  <div class="flex items-center space-x-4">
    <span>Usuario: {{ username }}</span>
    <button class="bg-red-500 hover:bg-red-600 text-white py-1 px-4 rounded" (click)="logout()">Cerrar Sesión</button>
  </div>
</div>

<!-- Contenido del dashboard -->
<div class="mt-16 p-8">
  <h1 class="text-2xl">Bienvenido al Dashboard</h1>
  <!-- Aquí puedes agregar más contenido del dashboard -->
</div>
